.account-btn{
    padding: 4px;
    width: 200px;
    height: 45px;
    margin-left: 200px; 
    font-size: 20px;
    margin-left: 400px;
}


.acc{
    color: rgb(255, 255, 255);
    background-color: #5b70e4;
}

.texts{
    color: rgb(151, 166, 175);
}


